<html>
<head>

    <title>Add book</title>
     <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}"/>
</head>
<body>
<div class="form-wrapper">
    <form method="get" action="/books" >
        <input class=hidden type=text name=server value="{{server}}" />

        <input class="corner-button left-corner-button" type="submit" value="Back to books table"/>
    </form>
    <form id="add-book-form" class="form" method="get" action="/add-book">

        <label for=title>Title</label>
        <input type=text name=title   />
        <label for=description>Description</label>
        <input type=text name=description />
        <label for=year>Year</label>
        <input type=text name=year   />

        <select form="add-book-form" name="authorId">

            {% for author in authors %}
                    <option value="{{author.authorId}}">{{author.name}}</option>
            {% endfor %}

        </select>
        <input class=hidden type=text name=server value="{{server}}" />
        <input type="submit" value="Add book"/>
    </form>
</div>
</body>
</html>
